h1{
    text-align: center;
    font-size: 150%;
}

nav{
    margin: 20px;
}

}.nav-1{
    background: #FFCCCC;
    padding: 20px;  
}

.name{
    background: rgb(182, 238, 216);
    color: #FF0066;
    padding: 20px;
    width: 25%;
    margin: 10px;
}

.cuadro{
    font-size:150%;
    width: 1005;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    background: green;
    border: 5px solid black;
}

.padre{
    display: flex;
}

.hola{
    color: black;
}

.nav-enlace{
    background: purple;
    color: #FF9999;
    padding: 10px 40px ;
    text-decoration: none;
   
}

.nav-enlace2{
    text-align: center;
    background: purple;
    color: #FF9999;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.nav-enlace:hover{
    background: green;
}

.nav-enlace2:hover{
    background: green;

}
 hr{
    height: 10px;
    width: 50%;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    
 }

 .Derechos{
     text-align: center;
     margin: 50px;
 }

