*{
    margin: 0px;
    padding: 0px;
}


body{ 
    background: #ffce89;
    color: #ffffff
}

#contenedor{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background:  #ffce89;
    border-radius: 20px;
    overflow: hidden;
}

header{
    
    background: #f39233;
    
}
header h1{
    font-size: 50px;
    text-align: center;
    
}

nav{
    background: #61b15a;
    margin: 15px;
    padding: 20px;
}

nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}



footer{
    background: #d1c145;
    clear: both;
    margin-top: 10px;
}

footer h2{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

#header{
    margin: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #fff76a;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin: 10px;
    text-align: center;
    
}

.nav li a:hover{
    background-color: red;
}



.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

